<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{t "Blog"}}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"></link>
</head>
<body>
<nav>
    <ul class="nav--main">
        <li><a href="/">{{t "Home"}}</a></li>
        <li><a href="/entries">{{t "Create post"}}</a></li>
    </ul>
</nav>
{{{body}}}
</body>
</html>